{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload Image</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file"><br><br>
        <input type="text" name="question" id="question" placeholder="Enter your question"><br><br>
        <input type="submit" value="Upload">
    </form>
    <div id="result"></div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}